body
{
    margin: 0;
}

.container
{
    height: 946px;

    background: linear-gradient(90deg, #b6bdbe, rgb(241, 239, 239), rgb(241, 238, 238), rgb(235, 231, 231), #b6bdbe);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-viewer-wrapper
{
    width: 1112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* balra nyíl konténer */
.left-arrow
{
    display: grid;
    place-items: center;

    padding: 0 15px;
    margin-right: 11px;

    /* Nyíl kép méretét beállítom */
    transform: scale(1.5);

    background: rgb(224, 223, 223);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -1px 3px 6px 0px rgb(148, 147, 147);

    height: 333px;

    cursor: pointer;
    transition: 500ms;

    /* Több gyors kattintás esetén ne jelölje ki az elemeket */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Opera and Firefox */
}

.left-arrow:hover
{
    background: rgb(190, 190, 190);
}

/* Képkeret amiben a kép és a leírás van */
.img-view
{
    width: 1000px;
    height: 500px;
    box-shadow: 0px 5px 5px 0px rgb(148, 147, 147);

    display: flex;
    align-items: flex-end;

    position: relative;
}

/* kép */
#photo
{
    width: 990px;
    height: 500px;
}

#photo-description
{
    width: 965px;
}

.description
{
    width: 970px;
    padding-left: 20px;
    background: rgba(0, 0, 0, 0.507);
    color: white;

    position: absolute;
}

/* jobbra nyíl konténer */
.right-arrow
{
    display: grid;
    place-items: center;

    padding: 0 15px;

    /* Beállítom a méretét és tükrözöm a nyíl képet, hogy jobbra mutasson */
    transform: scale(1.5) rotate(0.5turn);

    background: rgb(224, 223, 223);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -1px -3px 6px 0px rgb(148, 147, 147);

    height: 333px;

    cursor: pointer;
    transition: 500ms;

    /* Több gyors kattintás esetén ne jelölje ki az elemeket */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Opera and Firefox */
}

.right-arrow:hover
{
    background: rgb(190, 190, 190);
}

/* nyíl img */
#leftArrow, #rightArrow
{
    cursor: pointer;
    transition: 500ms;
}

#leftArrow:hover, #rightArrow:hover
{
    opacity: 0.5;
}

.thumbnails-wrapper
{
    margin-top: 35px;
    display: flex;
}

.thumbnail
{
    width: 100px;
    height: 100px;
}

.thumbnail-arrowUpDown-wrapper
{
    width: 100px;
    height: 100px;

    background: linear-gradient(0deg, rgb(177, 175, 175), rgb(202, 202, 202), rgb(255, 255, 255));

    padding: 10px;
    margin: 0 10px;

    box-shadow: 0 15px 15px -15px black;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 0px;
    transition: 500ms;
}

.thumbnail-arrowUpDown-wrapper:hover
{
    bottom: 10px;
    box-shadow: 0 30px 25px -25px black;
}

.focus-on
{
    bottom: 10px;
    box-shadow: 0 30px 25px -25px black;
}

.arrowUp
{
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid black;

    position: absolute;
    top: 0;

    transition: 500ms;
    opacity: 0;
}

.subtitle
{
    position: absolute;
    top: -50px;

    background: rgba(0, 0, 0, 0.883);
    color: white;
    border-radius: 5px;

    padding: 5px;

    transition: 500ms;
    display: grid;
    place-items: center;
    opacity: 0;
    
    min-width: 100px;
    white-space:nowrap;
}

.arrowDown
{
    position: absolute;
    top: -25px;

    width: 0; 
    height: 0; 

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid black;

    transition: 500ms;
    opacity: 0;
}

.thumbnail-arrowUpDown-wrapper:hover > .subtitle,
.thumbnail-arrowUpDown-wrapper:hover > .arrowDown
{
    display: grid;
    place-items: center;
    opacity: 1;
}